<div class="container">
    <!-- Export class line -->
    <div class="line">
        <p class="line-number">1</p>
        <p class="command">export</p>
        <p class="class">class</p>
        <p class="class-name">Me</p>
        <p class="bracket">{{ '{' }}</p>
    </div>
    <!-- Comment -->
    <div class="line">
        <p class="line-number">2</p>
        <div class="tabulation"></div>
        <p class="comment">//Personal informations</p>
    </div>
    <!-- Assignation -->
    <div class="line">
        <p class="line-number">3</p>
        <div class="tabulation"></div>
        <p class="var-name">firstName</p>
        <p class="operator">=</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Ugo</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Assignation -->
    <div class="line">
        <p class="line-number">4</p>
        <div class="tabulation"></div>
        <p class="var-name">lastName</p>
        <p class="operator">=</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Theveny</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Assignation -->
    <div class="line">
        <p class="line-number">5</p>
        <div class="tabulation"></div>
        <p class="var-name">birthday</p>
        <p class="operator">=</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">02/03/2000</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Assignation -->
    <div class="line">
        <p class="line-number">6</p>
        <div class="tabulation"></div>
        <p class="var-name">location</p>
        <p class="operator">=</p>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">Cormeilles-en-Paris, France</p>
            <p class="symbol">";</p>
        </div>
    </div>
    <!-- Empty line -->
    <div class="line">
        <p class="line-number">7</p>
    </div>
    <!-- Comment -->
    <div class="line">
        <p class="line-number">8</p>
        <div class="tabulation"></div>
        <p class="comment">//Personal statement</p>
    </div>
    <!-- Array declaration -->
    <div class="line">
        <p class="line-number">9</p>
        <div class="tabulation"></div>
        <div class="key">
            <p class="var-name">desc</p>
            <p class="operator">:</p>
        </div>
        <div class="array">
            <p class="class">String</p>
            <p class="operator">[]</p>
        </div>
        <p class="operator">=</p>
        <p class="operator">[</p>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">10</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">After a few jobs in restaurant business,</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">11</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">I joined 42 Paris to learn how to code.</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array assignation -->
    <div class="line">
        <p class="line-number">12</p>
        <div class="tabulation"></div>
        <div class="tabulation"></div>
        <div class="string">
            <p class="symbol">"</p>
            <p class="content">in order to validate my curriculum I am looking for an internship !</p>
            <p class="symbol">",</p>
        </div>
    </div>
    <!-- Array en of declaration -->
    <div class="line">
        <p class="line-number">13</p>
        <div class="tabulation"></div>
        <div class="close-tab">
            <p class="operator">]</p>
            <p class="symbol">;</p>
        </div>
    </div>
    <!-- End of brackets -->
    <div class="line">
        <p class="line-number">14</p>
        <p class="bracket">}</p>
    </div>
</div>